# Created by .ignore support plugin (hsz.mobi)
target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
*.iws
*.iml
*.ipr
/.idea/
src/main/webapp/js/jqueryValidation/

src/main/webapp/js/bundle.js
src/main/webapp/node_modules
