# Created by .ignore support plugin (hsz.mobi)
target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
*.iws
*.iml
*.ipr
src/main/webapp/META-INF/
src/main/webapp/WEB-INF/tags/
/.idea/
