<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Departments</title>
</head>
<body>

<h3 align="center" class="label">Departments</h3>
<table class="mdl-data-table table" align="center">

    <tr>
        <th class="mdl-data-table__cell--non-numeric">#</th>
        <th class="mdl-data-table__cell--non-numeric">Name</th>
        <th class="mdl-data-table__cell--non-numeric">Edit</th>
        <th class="mdl-data-table__cell--non-numeric">Delete</th>
        <th class="mdl-data-table__cell--non-numeric">Employees</th>
    </tr>

    <tr ng-repeat="department in dc.departments | orderBy:'name'">
        <td>{{$index + 1}}</td>
        <td>{{department.name}}</td>
        <td><a ui-sref="departmentSave({departmentId: department.departmentId})"
               class="event mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">Edit</a>
        </td>
        <td>
            <button ng-click="dc.deleteDepartment(department.departmentId)"
                    class="event mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">Delete
            </button>
        </td>
        <td>
            <a ui-sref="employees({departmentId: department.departmentId})"
               class="event mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                Employees
            </a>
        </td>
    </tr>

    <tr>
        <td colspan="3"></td>
        <td colspan="2">
            <a ui-sref="departmentSave"
               class="event mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
                Add new department
            </a>
        </td>
    </tr>

</table>
</body>
</html>