<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Save Department</title>
</head>
<body>
<h3 align="center" class="label">Enter new value</h3>
<form name="form">
    <table class="mdl-data-table table" align="center" cellpadding="10">
        <tr>
            <td colspan="2">
                <input class="mdl-textfield__input" type="text" name="name" placeholder="Name"
                       ng-model="dsc.department.name" ng-maxlength="30" ng-required="true"
                       ng-pattern="dsc.scriptPattern">
                <span class="error" ng-show="dsc.hasError('name', 'maxlength')">Too long!</span>
                <span class="error" ng-show="dsc.hasError('name', 'required')">Required!</span>
                <span class="error" ng-show="dsc.hasError('name', 'pattern')">Please enter valid name!</span>
                <label class="error">{{dsc.errorName}}</label>
            </td>
        </tr>
        <tr>
            <td><a href="/"
                   class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Back</a>
            </td>
            <td>
                <button type="submit" ng-click="dsc.saveDepartment()" ng-disabled="form.$invalid"
                        class="event mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
                    Save
                </button>
            </td>
        </tr>
    </table>
</form>
</body>
</html>