<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3 align="center" class="label">Enter new value</h3>
<form name="form">
    <table class="mdl-data-table table" align="center" cellpadding="10">
        <tr>
            <td colspan="2"><input class="mdl-textfield__input" type="text" name="name" placeholder="Name"
                                   ng-model="esc.employee.name" ng-maxlength="30"
                                   ng-required="true" ng-pattern="esc.scriptPattern">
                <span class="error" ng-show="esc.hasError('name', 'maxlength')">Too long!</span>
                <span class="error" ng-show="esc.hasError('name', 'required')">Required!</span>
                <span class="error" ng-show="esc.hasError('name', 'pattern')">Please enter valid name!</span>
                <label class="error">{{esc.errorName}}</label>
            </td>
        </tr>
        <tr>
            <td colspan="2"><input class="mdl-textfield__input" type="number" name="age" placeholder="Age"
                                   ng-model="esc.employee.age" ng-required="true" ng-maxlength="2">
                <span class="error" ng-show="esc.hasError('age', 'maxlength')">Too long!</span>
                <span class="error" ng-show="esc.hasError('age', 'required')">Required!</span>
                <label class="error">{{esc.errorAge}}</label>
            </td>
        </tr>
        <tr>
            <td colspan="2"><input class="mdl-textfield__input" type="text" name="dateOfBirth"
                                   ng-model="esc.employee.dateOfBirth" date='yyyy-MM-dd'
                                   placeholder="Date of Birth"
                                   ng-required="true" ng-pattern="esc.datePattern">
                <span class="error" ng-show="esc.hasError('dateOfBirth', 'required')">Required!</span>
                <span class="error" ng-show="esc.hasError('dateOfBirth', 'pattern')">Please enter a date in the format yyyy-dd-mm!</span>
                <label class="error">{{esc.errorDateOfBirth}}</label>
            </td>
        </tr>
        <tr>
            <td colspan="2"><input class="mdl-textfield__input" type="email" name="email" placeholder="Email"
                                   ng-model="esc.employee.email"
                                   ng-required="true">
                <span class="error" ng-show="esc.hasError('email', 'required')">Required!</span>
                <span class="error" ng-show="esc.hasError('email', 'email')">Not valid email!</span>
                <label class="error">{{esc.errorEmail}}</label>
            </td>
        </tr>
        <tr>
            <td>
                <a ui-sref="employees({departmentId: departmentId})"
                   class="event mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                    Back
                </a>
            </td>
            <td>
                <button type="submit" ng-click="esc.saveEmployee()" ng-disabled="form.$invalid"
                        class="event event mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
                    Save
                </button>
            </td>
        </tr>
    </table>
</form>
</body>
</html>