.table {
    margin-top:50px;
    text-align:center;
}

.label {
    margin-top:130px;
}

.noBorder td {
    border: 0;
}

tr.hide > td, td.hide{
    border:0;
}

.error {
    color:red;
    font-size: 14pt;
}