.table th, tr td {
    border: 2px solid;
}

.table {
    margin-top:70px;
    text-align:center;
}

.table input {
    width: 300px;
}

.noBorder td {
    border: 0;
}

tr.hide > td, td.hide{
    border:0;
}

.errorText {
    color:red;
}

.x{
    color:red;
}

.edit{
    color:blue;
}

.emp{
    color: limegreen;
}

.add {
    color: darkviolet;
}